body {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    background-color: black;
    color: white;
    
}

.wordclass {
    position: absolute;
    font-size: 20px;
    color: rgb(13, 255, 0);
}

#inputField {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
}

p.description {
    font-family: "baudot", sans-serif;
    text-align: center;
    font-size: 30px;
    
}

.fontthin {
font-family: "baudot", sans-serif;
font-weight: 300;
font-style: normal;  

}

.fontmid {
   font-family: "baudot", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

.fontbold {
   font-family: "baudot", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

/*
Baudot Regular
font-family: "baudot", sans-serif;
font-weight: 400;
font-style: normal;

Baudot Bold
font-family: "baudot", sans-serif;
font-weight: 700;
font-style: normal;

Baudot Light
font-family: "baudot", sans-serif;
font-weight: 300;
font-style: normal;

Baudot Pop Fill Regular
font-family: "baudot-pop-fill", sans-serif;
font-weight: 400;
font-style: normal; */